body {
  font-family: "PT Sans Caption";
}

main {
  background-color: #f7ecde;
  min-height: 100vh;
}

h1 {
  font-size: 50px;
  font-family: "Pacifico", cursive;
  color: #352e28;
  isolation: isolate;
}

main h1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0;
    bottom: 2px;
    background-color: #fec260;
    transition: all 0.35s;
    z-index: -1;
}

main h1:hover::before {
    height: 60%;
}

h2 {
  font-family: "Righteous", cursive;
  font-size: 25px;
  background-image: linear-gradient(to right, #3ca55c, #b5ac49);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bookmark-box {
  border-width: 2px 0 2px 0;
  border-style: dotted;
  border-color: #352e28;
}

.btn-submit {
    background-color: #d1512d;
}

.btn-submit:hover {
    background-color: #bb4120;;
}

.btn-visit {
    background-color: #9eb23b;
}

.btn-visit:hover {
    background-color: #8a9e23;
}

.btn-delete {
    background-color: #eb1d36;
}

.btn-delete:hover {
    background-color: #d30820;
}